<!DOCTYPE html>
<html>
  <head>
    <title>PunditPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



    <% if !user_signed_in? %>
      <%= link_to '회원가입', new_user_registration_path %>
      <%= link_to '로그인', new_user_session_path%>

    <% else %>
      <%= link_to '로그아웃', destroy_user_session_path, method: :delete%>
      <br><br>
      <%= current_user.email %>
    <% end %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
